@import url('https://fonts.googleapis.com/css?family=Lato|Prata|Poppins&display=swap');

h2 {
  font-family: 'Poppins';
  color: rgb(216, 59, 91);
  text-align: center;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-count: 1;
  column-gap: 20px;

  div {
    width: 370px;
    height: 140px;
    padding: 10px;
    margin: 0 0 20px;
    // border: 1px solid bisque;
    border-radius: 8px;
    background-image: linear-gradient(60deg, #212427 0%, #28282a 100%);
  }
  h3 {
    font-family: Roboto;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #ece1e1;
    color: rgb(235, 15, 59);
  }
  p {
    font-size: 14px;
    font-family: Roboto;
    color: #ece1e1;
    margin-top: 0;
  }
}
