@import url('https://fonts.googleapis.com/css?family=Lato|Prata|Poppins&display=swap');
#header {
  background-color: #191919;
}

body {
  background-color: #191919;
  padding-top: 80px;
}

h2 {
  text-align: center;
  color: #262729;
  width: 220px;
  padding: 5px;
  margin: 0 auto 10px;
  background-color: crimson;
  border-radius: 0 0 3px 3px;
}

.sponsor-container {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 15px;
  background: #262729;
  border-radius: 8px;
}

.customer-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  img {
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: 100px;
    width: auto;
  }
}

.benefits {
  text-align: center;
  border-radius: 5px;
  background: #262729;
  width: clamp(400px, 50%, 600px);
  padding: 0px 10px 5px;
  margin: 20px auto;
}
.benefits-list {
  text-align: left;
  list-style-type: none;

  li {
    padding: 10px;
  }
  h3 {
    font-family: Roboto;
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #ece1e1;
    color: crimson;
  }
  p {
    font-size: 14px;
    font-family: Roboto;
    color: #ece1e1;
  }
}
