body {
  background-color: #191919;
}

.Sponsor {
  text-align: center;
  padding: 20px;
  color: crimson;
  display: block;
  width: 100%;
}

.customer-logos {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
