.about {
  width: 100%;
  padding: 20px 10px;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-img {
  padding: 10px;
  width: clamp(320px, 35%, 1000px);

  img {
    height: 360px;
    border-radius: 5px;
  }
}

.about-text {
  padding: 10px;
  padding-left: 30px;
  flex: 1;
  h2 {
    color: white;
    font-size: 56px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  h5 {
    color: #f9004d;
    letter-spacing: 2px;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  p {
    color: #fcfc;
    line-height: 28px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
  }

  button {
    background-color: rgba(199, 29, 29, 0.763);
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 20px;
    transition: 0.4s;

    &:hover {
      background-color: transparent;
      border: 2px solid #f9004d;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .about-text {
    padding: 10px;
    text-align: center;
  }
  .about-img {
    width: 90%;
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}
.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
