<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>{% block title %}{% endblock title %}The Chanakya's Website</title>
      <link rel="icon" href="{{ get_url(path="favicon.ico") }}" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="author" content="Vishakha" />
      <meta name="description" content="{{ config.description }}" />
      <meta name="theme-color" content="#f53d5c" />
      <link rel="preconnect" href="https://fonts.gstatic.com/" />
      
    {% endblock head %}
  </head>
  <body>
    {% block content %} {% endblock content %}
  </body>
</html>
