{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>{% block title %}{% endblock title %}Team SAENIEKS</title>
      <link rel="icon" href="{{ get_url(path="favicon.ico") }}" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="author" content="Vishakha" />
      <meta name="description" content="{{ config.description }}" />
      <link rel="preconnect" href="https://fonts.gstatic.com/" />
      <link rel="stylesheet" href="/common.css" />
    {% endblock head %}
  </head>
  <body>
    {{ macros::NavigationBar() }}

    {% block content %} {% endblock content %}
  </body>
</html>
