{% import "macros.html" as macros %}

<html>
  <head>
    <title>Benefits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/bene.css" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/spon.css" />
    {#
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
    <script src="/spon.js" defer></script>
    #}
  </head>

  <body>
    {{ macros::NavigationBar() }}

    <div class="container">
      <h2 class="Sponsor">Our Sponsors</h2>
      <div class="customer-logos">
        <img src="/assets/sponsors/cycle.webp" />
        <img src="/assets/sponsors/indian-oil.webp" />
        <img src="/assets/sponsors/sb.webp" />
        <img src="/assets/sponsors/ss-vector.webp" />
        <img src="/assets/sponsors/ss.webp" />
        <img src="/assets/sponsors/mobil.webp" />
      </div>
    </div>
    <h2 class="secondary">Benefits To Sponsors</h2>
    <section class="benefits-list">
      <div>
        <h3>BRAND NAME ON CAR</h3>
        <p>Sponsor's logo will be displayed on the car panels</p>
      </div>
      <div>
        <h3>PROMOTION THROUGH SOCIAL MEDIA</h3>
        <p>
          Brand name shall be promoted on platforms like Twitter, Facebook, Instagram, and will be credited in team videos published in our official
          YouTube channel.
        </p>
      </div>

      <div>
        <h3>PUBLICITY THROUGH TEAM APPAREL</h3>
        <p>
          Brand name shall be promoted on platforms like Twitter, Facebook, Instagram, and will be credited in team videos published in our official
          YouTube channel.
        </p>
      </div>
      <div>
        <h3>PROMOTIONS THROUGH BANNERS AND POSTERS</h3>
        <p>
          All the team's banners and posters will have the sponsors' logo. The sponsor may display their banner at all events conducted by the team
          SAENIEKS
        </p>
      </div>
      <div>
        <h3>PROMOTION IN AUTO EXPOS</h3>
        <p>A grand promotion of the sponsor will be done in all auto expos done in and around Mysore.</p>
      </div>
      <div>
        <h3>PROMOTION SPECIFIC TO ORGANIZATION</h3>
        <p>Activity which expresses and pitches the functionality of the sponsors to the public will be done</p>
      </div>
    </section>
  </body>
</html>
