{% import "macros.html" as macros %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/style2.css" />
    <link rel="stylesheet" href="/common.css" />
    <title>Team Saenieks</title>
  </head>

  <body>
    <section id="header">
      <div class="header container">
        <div class="nav-bar">
          <a href="#about" class="brand">
            <h1>Team Sae<span style="font-weight: bolder">nie</span>ks</h1>
          </a>
          <div class="nav-list">
            <div class="hamburger">
              <div class="bar"></div>
            </div>
            <ul>
              <li><a href="#about">About</a></li>
              {#
              <li><a href="#projects">News</a></li>
              #}
              <li><a href="#Team">Team</a></li>
              <li><a href="#about">Sponsorship</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="hero">
      <div class="hero container">
        <div>
          <h1>Team<span></span></h1>
          <h1>SAENIEKS<span></span></h1>
          <a href="#projects" type="button" class="cta">Achievements</a>
        </div>
        <!-- <div><img src="assets/logo.jpg" width="300" height="300" /></div> -->
      </div>
    </section>

    <!--About section start-->
    <section class="about" id="about">
      <div class="about-img scroll-element js-scroll slide-left">
        <img src="/assets/about.webp" />
      </div>
      <div class="about-text">
        <h2>About Us</h2>
        <h5>National Level <span>Off road Racing Team</span></h5>
        <p class="scroll-element js-scroll slide-right">
          Team SAENIEKS is a national level off road racing team built by a group of auto passionate engineers from
          <a href="https://nie.ac.in">The National Institute of Engineering, Mysore</a>. Our proud journey started back in 2015 which showed a new
          dimension to the abilities of the students of NIE. We design, simulate and fabricate the whole All-terrain vehicle and compete in various
          national level events. Our goal is to build a car that can withstand anything thrown at us at these events and to come out on top.
        </p>
        <button type="button">Contact Us</button>
      </div>
    </section>

    <section id="projects">
      <div class="projects container">
        <div class="projects-header">
          <h1 class="section-title" style="color: white"><span>Ac</span>hievements</h1>
        </div>

        {{ macros::AchievementsList() }}
      </div>
    </section>

    <section id="contact">
      <div class="contact container">
        <div>
          <h1 class="section-title">Contact <span>info</span></h1>
        </div>
        <div class="contact-items">
          <div class="contact-item">
            <div class="icon">
              <img src="https://img.icons8.com/bubbles/100/000000/phone.png" />
            </div>
            <div class="contact-info">
              <h1>Phone</h1>
              <table>
                <tr>
                  <td>
                    <h2>+91 6361724765</h2>
                  </td>

                  <td></td>
                </tr>

                <tr>
                  <td>
                    <h2>+91 9535814539</h2>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon">
              <img src="https://img.icons8.com/bubbles/100/000000/new-post.png" />
            </div>
            <div class="contact-info">
              <h1>Email</h1>
              <table>
                <tr>
                  <td>
                    <h2>vishakhav965@gmail.com</h2>
                  </td>
                </tr>
                <tr>
                  <td>
                    <h2>vishakhav888@gmail.com</h2>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="contact-item">
            <div class="icon">
              <img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" />
            </div>
            <div class="contact-info">
              <h1>Address</h1>
              <h2>Vishakha V, S/O Venugopal N L, No.129, "Ashirwad", SBM Colony, B Katihalli, Hassan, 573201</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
      <div class="footer container">
        <div class="brand">
          <h1><span>V</span>ishakha <span>V</span>enugopal</h1>
        </div>
        <h2>Complete Web and ML solutions</h2>
        <div class="social-icon">
          <div class="social-item">
            <a href="https://www.linkedin.com/in/vishakha-v-4825b4163/"><img src="https://img.icons8.com/bubbles/344/linkedin.png" /></a>
          </div>
          <div class="social-item">
            <a href="https://github.com/Vishakhavenugopal"><img src="https://img.icons8.com/bubbles/344/github.png" /></a>
          </div>
          <div class="social-item">
            <a href="https://twitter.com/VishakhaVenugo1"><img src="https://img.icons8.com/bubbles/100/000000/twitter.png" /></a>
          </div>
        </div>
        <p>Copyright © 2022 Vishakha V. All rights reserved</p>
      </div>
    </section>
    <script src="/app.js"></script>
  </body>
</html>
