{% macro AchievementsList() %}
  <div class="all-projects">
    {% set ach_json = load_data(path="data/achievements.json", format="json") %}
    {% set data = ach_json.data %}
    {% for ach in data %}
      <div class="project-item scroll-element js-scroll slide-{{ ach.side }}">
        <div class="project-info">
          <h1 style="color: #ff4949">{{ ach.name }} <span>({{ ach.year }})</span></h1>
          <ul>
            {% for item in ach.positions %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="project-img">
          <img src="{{ ach.image }}" alt="img" />
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro SocialLinksIcons %}

{% macro NavigationBar() %}
  <section id="header">
    <script src="/common.js" defer></script>
    <div class="header container">
      <div class="nav-bar">
        <a href="#about" class="brand">
          <h1>Team Sae<span style="font-weight: bolder">nie</span>ks</h1>
        </a>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/#about">About</a></li>
            {#
            <li><a href="#projects">News</a></li>
            #}
            <li><a href="/team">Team</a></li>
            <li><a href="/benefits">Sponsorship</a></li>
            <li><a href="/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% endmacro  %}