<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <link rel="stylesheet" href="spon.css">
</head>

<body>

    <div style="max-height: 200px;" class="container">
        <h2>Our Sponsors</h2>
        <section class="customer-logos slider">
            <div class="slide"><img src="assets/sponsors/cycle.webp"></div>
            <div class="slide"><img src="assets/sponsors/indian-oil.webp"></div>
            <div class="slide"><img src="assets/sponsors/sb.webp"></div>
            <div class="slide"><img src="assets/sponsors/ss-vector.webp"></div>
            <div class="slide"><img src="assets/sponsors/ss.webp"></div>
            <div class="slide"><img src="assets/sponsors/mobil.webp"></div>
            <!-- <div class="slide"><img src="assets/loyal.webp"></div> -->
            <!-- <div class="slide"><img
                    src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg"></div> -->
        </section>
    </div>
    <script src="spon.js"></script>
</body>

</html>