.about{
	width: 100%;
	padding: 70px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 500px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1400px;
	max-width: 150%;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	font-family: 'Courier New', Courier, monospace;
	margin-bottom: 45px;
}
button{
	background-color:rgba(199, 29, 29, 0.763);
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
@media only screen and (min-width: 768px) {
.about-text {
	flex-direction: row;
}
.about img{
		height: 100px;
		margin: 0;
		width: 50%;
		border-radius: 0;;
}
}
.js-scroll {
	opacity: 0;
	transition: opacity 500ms;
  }
.scrolled.slide-left {
	animation: slide-in-left 1s ease-in-out both;
  }
@keyframes slide-in-left {
	0% {
	  -webkit-transform: translateX(-100px);
	  transform: translateX(-100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  .scrolled.slide-right {
	animation: slide-in-right 1s ease-in-out both;
  }
  @keyframes slide-in-right {
	0% {
	  -webkit-transform: translateX(100px);
	  transform: translateX(100px);
	  opacity: 0;
	}
	100% {
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	  opacity: 1;
	}
  }